@import './assets/font/font.css';


body {
  margin: 0;
  font-family: 'Vazir',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #E4E4E4;
  overflow-x: hidden;
  width: 100%;
} 
